.encabezado{
    background-color:black;
    color:chartreuse;
    text-align:center;

}
h2{
    padding: 20px;
    text-align: center;
    font-family:Georgia, 'Times New Roman', Times, serif;
    font-size:25px;
    color:brown;
}
p{
    text-decoration: underline;
    color:red;
    background-color: burlywood;
    font-size: 30px;
}

.pie-pagina{
    color:black;
    background-color: green;
}